@charset "utf-8";
/*公共全局*/
*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(255,0,0,0);}
body{background:#fff;}
.bodyBlock{position: relative;font-size:16px;color:#000;font-family:'微软雅黑',tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;background: url(../images/body_bg.jpg) no-repeat left top;background-size :100%;}
.zoom{zoom:1;}
.zoom:after{clear:both;content:'.';display:block;height:0;visibility:hidden;overflow:hidden;}
.inlineBlock{display:inline;float:left;}
a,input{background-color: none;-webkit-appearance: none; outline: none;}
ul,li{list-style: none;}

/*logo和banner部分*/
.banner{width: 100%;margin: 0 auto;position: relative;overflow: hidden;/*background: palegreen;*/}
.banner img{width: 100%;margin-top: -5px;}

/**企业工具**/
.retrospect_topnav{position: absolute; right: 16px; top: 18px; display: block;border: 1px solid #FE4D01;border-radius: 20px; color: #FE4D01;padding: 4px 15px;text-decoration: none;z-index: 100;}

/*导航部分*/
.navItems{width: 100%;margin: 0 auto;/* margin-top: 24px; */ /*background: palevioletred;*/}
.navItem{width:100% ;height:70px;/* float: left; */position: relative; display: block;}
.nav1,.nav2,.nav3{width:100px;height:70px;margin: 0 auto;display: block;outline: none;text-decoration: none;border:none ;}


/*内容部分*/
.content{width: 100%;margin: 0 auto; margin-top: 32px;}
.area{width: 100%;margin: 0 auto;position: relative;}
.areaDetail{width: 90%; margin: 0 auto;margin-bottom: 24px;}
.input{position: relative;width:100%;-webkit-appearance:none;height: 42px;line-height: 42px;border: 1px solid #9c9c9c;background: #FFFFFF;font-size: 16px;border-radius: 6px;color: #a6a6a6;overflow: hidden;}
.itemInput,.itemInput:active,.itemInput:hover{-webkit-appearance:none;width: 260px; color: #a6a6a6; border: none; padding: 6px 12px;border-radius: 6px;height: 32px; line-height: 32px;font-size: 16px; background: none;}
.area3more{display: none;}
.showMore{margin: 16px 5%;text-align: right;/* padding: 10px 0; */color: #FA917A;/*background: url(../images/showmore_bg.png) no-repeat 95% center;background-size: 20px;*/height: 24px;line-height: 24px;}
.showMoreBg{width: 21px;/* height: 24px; */margin-bottom: -5px;margin-left: 8px;}
.claerbottm{border-bottom: 0!important;}

/*输入框清空*/
.searchPicRight{display: none; width: 42px;height: 42px;position: absolute;right: 0; top:0;background:url(../images/searchPicRight.png) no-repeat center center;background-size: 20px 20px;z-index: 100;}

/*查询*/
.search{width: 90%; height: 44px;margin:0 auto;margin-top: 24px;}
.searchTitle{width: 100%; height: 44px;display: block;line-height: 44px;border-radius: 5px;text-decoration: none;color: #FFFFFF;text-align: center;background: #FF4D00;}

/*底部*/
.footer{width:100%;padding:12px 0;margin-top: 30px;text-align:center;line-height:24px;font-size: 12px;font-family:"微软雅黑";color: #c6c6c6;}
.footer a{font-size:14px;color:#b9b9b9;text-decoration: none;}

/**提示框**/
.alert{width:300px;background:#FFFFFF;border-radius:10px;position:fixed;top:50%;left:50%;margin-top:-60px;margin-left:-150px;cursor:pointer;z-index:100;overflow: hidden;}
.alert-bg{width:100%;height:100%;background:#000; opacity:0.5;position:fixed;top:0;left:0;z-index:99}
.alert-txt{color:#FF4D00;padding:30px 20px;text-align:center;font-size:20px;font-family: "微软雅黑";}
.alert-button{color:#fff;height:50px;line-height:50px;text-align:center;border-top:1px solid #fff;font-family: "微软雅黑";font-size:20px;background: #FF4D00;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}

/**显示隐藏**/
.hide{display: none;}



